/* #region Variables */
:root {
  /* Fonts */
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* Colors */
  --primary-cl: 17, 17, 17;
  --secondary-cl: 76, 76, 76;
  --accent-cl: 253, 146, 34;
  --light-cl: 250, 250, 250;
  --dark-cl: 30, 24, 35;
  --white-cl: 255, 255, 255;
  --beige-cl: 252, 241, 224;
  /* Others */
  --items: 4;
  --indent: 32px;
}
/* #endregion Variables */
/* #region Base */
body {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgb(var(--primary-cl));
  background: rgb(var(--light-cl));

  /* Default values */
  /* font-size: 16px; */
  /* font-weight: 400; */
  /* font-style: normal; */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
address {
  font-style: normal;
}
button {
  color: currentColor;
  cursor: pointer;
}
img {
  display: block;
}
/* #endregion Base */
/* #region Common */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits,
.ingridients,
.made,
.products,
.bestsellers,
.reviews {
  padding: 60px 0;
}
.container {
  width: 1168px;
  margin: 0 auto;
  padding: 0 16px;

  outline: 2px solid red;
  outline-offset: -2px;
}
.main-title {
  max-width: 484px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: rgb(var(--light-cl));
}
.ingridients-title,
.made-title,
.products-title,
.bestsellers-title,
.reviews-title {
  width: 412px;
  margin: 0 auto;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
.accent {
  color: rgb(var(--accent-cl));
}
.btn {
  min-width: 144px;
  min-height: 45px;
  padding: 14px 40px;
  font-weight: 600;
  line-height: 1.21;
  color: rgb(var(--white-cl));
  background: transparent;
  border-radius: 100px;
  border: 1px solid transparent;
}
.btn-accent {
  background: rgb(var(--accent-cl));
}
.btn-accent:hover,
.btn-accent:focus {
  color: rgb(var(--accent-cl));
  background: rgb(var(--beige-cl));
}
.btn-light {
  color: rgb(var(--white-cl));
  border-color: rgb(var(--white-cl));
}
.btn-light:hover,
.btn-light:focus {
  color: rgb(var(--accent-cl));
  border-color: rgb(var(--accent-cl));
}
.btn-dark {
  font-size: 18px;
  color: currentColor;
  border-color: rgb(var(--accent-cl));
}
.btn-dark:hover,
.btn-dark:focus {
  color: rgb(var(--white-cl));
  background: rgb(var(--accent-cl));
}
/* #endregion Common */
/* Card set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
/* #region Logo */
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.logo-accent {
  font-style: italic;
}
.logo-icon {
}
/* #endregion Logo */
/* #region Socials */
.socials {
  display: flex;
  gap: 14px;
}
.socials-dark {
}
.socials-light {
}
.socials-item {
}
.socials-link {
}
.socials-icon {
}
/* #endregion Socials */
/* #region Header */
.header {
}
.header .container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: 90px;
}
.header-logo {
  display: inline-flex;
  gap: 4px;
  align-items: center;
}
.nav {
}
.nav-menu {
  display: flex;
  gap: 24px;
}
.nav-menu-item {
}
.nav-menu-link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
}
.nav-menu-link:hover,
.nav-menu-link:focus {
  color: rgb(var(--accent-cl));
}
/* #endregion Header */
/* #region Hero */
.hero {
  padding-bottom: 80px;
}
.hero .container {
  padding: 40px;
  padding-top: 381px;
  background: rgba(var(--primary-cl), 0.4);
  border-radius: 30px;
}
.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-list {
  display: flex;
  gap: 14px;
}
.hero-item {
}
.hero-btn {
}
.hero-link {
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: rgb(var(--white-cl));
}
.hero-link:hover,
.hero-link:focus {
  color: rgb(var(--accent-cl));
}
.hero-link-icon {
}
/* #endregion Hero */
/* #region Benefits */
.benefits {
  background: rgb(var(--dark-cl));
}
.benefits-list {
}
.benefits-item {
}
.benefits-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: rgb(var(--light-cl));
}
.benefits-desc {
  color: rgba(var(--white-cl), 0.7);
}
/* #endregion Benefits */
/* #region Ingridients */
.ingridients {
  padding-top: 120px;
}
.ingridients-title {
}
.ingridients-list {
}
.ingridients-item {
  padding: 28px 22px;
  border: 1px solid rgb(var(--accent-cl));
  border-radius: 15px;
  background-color: rgb(var(--white-cl));
  color: rgb(var(--primary-cl));
}
/* a * n + b */
.ingridients-item:nth-child(4n + 1) {
  background-color: rgb(var(--accent-cl));
  color: rgb(var(--white-cl));
  border-color: transparent;
}
.ingridients-item:nth-child(4n + 3) {
  background-color: rgb(var(--dark-cl));
  color: rgb(var(--white-cl));
  border-color: transparent;
}

.ingridients-ill {
}
.ingridients-desc {
  margin-top: 36px;
  font-weight: 600;
  text-transform: uppercase;
}
/* #endregion Ingridients */
/* #region Made */
.made {
}
.made-title {
}
.made-img {
}
.made-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-list {
}
.made-item {
}
/* #endregion Made */
/* #region Products */
.products {
}
.products-title {
}
.products-list {
  --indent: 18px;
  row-gap: 24px;
}
.products-item {
  padding: 30px 18px;
  border: 1px solid rgba(var(--primary-cl), 0.1);
  border-radius: 15px;
  background: rgb(var(--white-cl));
}
.products-ill {
}
.products-name {
  margin-top: 8px;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
}
.products-type {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: rgba(var(--primary-cl), 0.7);
}
.products-price {
  display: block;
  padding: 8px 20px;
  margin: 0 auto;
  font-weight: 600;
  border-radius: 100px;
  border: 1px solid rgba(var(--primary-cl), 0.1);
  background: rgb(var(--light-cl));
}
/* #endregion Products */
/* #region Bestsellers */
.bestsellers {
}
.bestsellers-title {
}
.bastsellers-list {
  --indent: 16px;
  --items: 3;
}
.bastsellers-item {
  background: rgb(var(--white-cl));
}
.bestsellers-wrapper {
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.bastsellers-img {
}
.bastsellers-desc {
  padding: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0 0 15px 15px;
  border: 1px solid rgba(var(--primary-cl), 0.1);
  border-top: none;
}
/* #endregion Bestsellers */
/* #region Reviews */
.reviews {
  padding-bottom: 120px;
}
.reviews-title {
}
.reviews-list {
  --indent: 28px;
  --items: 3;

  margin-bottom: 50px;
}
.reviews-item {
  padding: 24px;
  background: rgb(var(--white-cl));
  border: 1px solid rgba(var(--primary-cl), 0.1);
  border-radius: 15px;
}
.reviews-avatar {
  margin: 0 auto;
}
.reviews-author {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.reviews-text {
  text-align: center;
  color: rgba(var(--primary-cl), 0.7);
}
/* #endregion Reviews */
/* #region Footer */
.footer {
  background: rgb(var(--dark-cl));
}
.footer-slogan {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  color: rgb(var(--white-cl));
}
.footer-caption {
  font-weight: 500;
  color: rgb(var(--white-cl));
}
.footer-socials {
}
.footer-address {
}
.address {
}
.address-list {
}
.address-item {
}
.address-link {
  text-align: center;
  color: rgb(var(--white-cl));
}
.address-link:hover,
.address-link:focus {
  color: rgb(var(--accent-cl));
}
.footer-nav {
}
.footer-nav-item {
}
.footer-nav-link {
  font-weight: 500;
  line-height: 1.14;
  color: rgb(var(--white-cl));
}
.footer-nav-link:hover,
.footer-nav-link:focus {
  color: rgb(var(--accent-cl));
}
/* #endregion Footer */
