:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* outline: 2px solid red;
  outline-offset: -2px; */
}
img {
  display: block;
  display: inline;
  display: block;
  display: inline-block;
  display: none;
  width: 150px;
  height: auto;
}

#one {
  background: teal;
  margin-bottom: 100px;
}
.desc {
  font-family: sans-serif;
  font-size: 20px;
  background-color: lightgreen;
  color: darkgreen;
  width: 400px;
  /* padding: 20px 40px 30px 50px; */
  padding: 10px;
  margin-bottom: 100px;
  /* border-width: 10px;
  border-top-width: 30px;
  border-style: dashed;
  border-color: darkmagenta;
  border-bottom-color: lightslategrey; */
  border: 10px dotted darkmagenta;
  border-radius: 30px;
}
.title {
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 150px;
}

#two {
}
.list {
  background: lightcoral;
}
.link {
  display: inline-block;
  padding: 40px 60px;
  /* margin: 10px 50px; */
  width: 100px;
  height: 100px;
  background-color: lightgreen;
}
.btn {
  width: 200px;
  height: 100px;
  padding: 10px 20px;
}
.list {
  display: flex;
  gap: 20px;
}
